.acf-field-grunticon table{
	border: none;
	width: 100%;

}

.acf-field-grunticon select{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.acf-field-grunticon .icon{
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 2em;
	background-size: contain;
}