/*   Main Navigation
    --------------------------------------------------------------------------  */

.site-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.main-nav {
    position: relative;
    @include admin-sticky-fix();

    .main-menu-toggle {
        outline: 0;
        display: block;

        @include respond-to(navigation) {
            display: none;
        }
    }

    @include respond-to(navigation) {
        background: #fff;
        box-shadow: 1px 0px 15px #aaa;
    }

}

.main-menu {
    display: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    flex-direction: column;

    @include respond-to(navigation) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .menu-item {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
    }

    .menu-item-link {
        display: block;
        line-height: 70px;
        text-decoration: none;
        letter-spacing: 3px;
        color: color(a-color);
        font-weight: 700;

        @include respond-to(navigation) {
            font-size: 0.75em;
        }

        @include respond-to(1250px) {
            font-size: 1em;
        }

        &:hover {
            color: color(a-hover);
        }
    }

    .sub-menu-toggle {
        background: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: z(main-menu-sub);

        @include respond-to(small) {
            display: none;
        }

        .icon {
            transition: all 100ms ease-out;

            @include respond-to(small) {
                @include square(22px);
            }
        }

        &.active .icon {
            transform: rotate(90deg);
        }
    }

    .sub-menu {
        display: none;
    }

    &.main-menu-has-touch {

        .sub-menu-toggle {
            @include respond-to(small) {
                display: block;
            }
        }

        .menu-item-has-children > .menu-item-link {
            margin-right: 44px;

            @include respond-to(small) {
                margin-right: 22px;
            }
        }

    }

    &.main-menu-no-touch {

        .menu-item-has-children:hover > .sub-menu {
            display: block;
        }

    }

}

// Menu Toggle Config

.main-menu-toggle {
    $button-width: 60px; // The width of the button area
    $button-height: 54px; // The height of the button area
    $bar-thickness: 4px; // The thickness of the button bars
    $button-pad: 12px; // The left/right padding between button area and bars.
    $button-bar-space: 6px; // The spacing between button bars
    $button-transistion-duration: 0.3s; // The transition duration

    background: #fff;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;

    .menu-text {
        position: absolute;
        @include vertical-center();
        left: -130%;
        font-size: 24px;
        font-family: $display-stack;
        color: #fff;
        transition: all 0.3s ease-in;

        .main-menu-open & {
            color: $light-purple;
        }
    }

    .text {
        font-size: 0;
        text-indent: -9999px;
    }

    @include respond-to(small){
        right: 40px;
    }
    body.navigation--not-top & {
        top: 50%;
    }

    @include respond-to(navigation) {
        display: none;
    }

    &:focus {
        outline: none;
    }

    & span {
        display: block;
        position: absolute;
        top: ($button-height / 2) - ($bar-thickness / 2);
        left: $button-pad;
        right: $button-pad;
        height: $bar-thickness;
        background: $light-purple;
    }

    & span::before,
    & span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: $bar-thickness;
        background-color: $light-purple;
        content: '';
    }

    & span::before {
        top: -$bar-thickness - $button-bar-space;
    }

    & span::after {
        bottom: -$bar-thickness - $button-bar-space;
    }

    & span {
        transition: background 0s $button-transistion-duration;
    }

    & span::before,
    & span::after {
        transition-duration: $button-transistion-duration,
            $button-transistion-duration;
        transition-delay: $button-transistion-duration, 0s;
    }

    & span::before {
        transition-property: top, transform;
    }

    & span::after {
        transition-property: bottom, transform;
    }

    /* active state, i.e. menu open */
    .main-menu-open & span {
        background: none;
    }

    .main-menu-open & span::before {
        top: 0;
        transform: rotate(45deg);
        background: $light-purple;
    }

    .main-menu-open & span::after {
        bottom: 0;
        transform: rotate(-45deg);
        background: $light-purple;
    }

    .main-menu-open & span::before,
    .main-menu-open & span::after {
        transition-delay: 0s, $button-transistion-duration;
    }
}

.site-header.main-menu-open {
    text-align: left;
    min-height: 85px;

    .logo-stacked {
        display: none;
    }

    .logo-horizontal {
        display: block;
        top: 45px;

        svg {
            width: 130px;
            height: 80px;
        }
    }

    .main-nav {
        background: #fff;
        height: 100vh;
        width: 100vw;
        position: fixed;
        overflow: auto;

        .main-menu {
            padding: 100px 40px;
            display: flex !important;
        }

        .menu-item >
        .menu-item-link {
            color: $orange;
            font-size: 26px;
            font-weight: 500;
            margin-right: 0 !important;
            font-family: $display-stack;

            &:hover {
                color: #000;
            }

            + .sub-menu-toggle {
                width: 30px;
                height: 67px;

                path {
                    // Change arrow color with it
                    fill: $orange;
                }
            }
        }

        .menu-item {
            line-height: 3.75;

            &:not(.menu-item-top-level) {
                text-transform: none;
                font-weight: 300;
            }
        }

        .menu-item-level-2 {
            .menu-item-link {
                line-height: normal;
                position: relative;
                text-transform: uppercase;

                &:before {
                    content: "- ";
                    color: #383443;
                }
            }
        }

        .navigation-buttons {
            width: 100%;
            margin-top: 35px;
            @include respond-to(xsmall) {
                display: flex;
            }
            @include respond-to(navbreak) {
                display: inline-block;
            }
            .cta {
                display: block;
                width: 100%;
                margin-bottom: 15px;
                @include respond-to(xsmall) {
                    margin-bottom: 0;
                }
                @include respond-to(navbreak) {
                    margin-bottom: 15px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

