{
    "extends": ["standard", "standard-react"],
    "globals": {
        "Modernizr": true,
        "jQuery": true,
        "ajax_login_object": true,
        "$": true,
        "SiteInfo": true,
        "localStorage": true,
        "grunticon": true
    },
    "rules": {
        "semi": "off",
        "no-tabs": "off",
        "indent": "off",
        "comma-dangle": "off",
        "no-mixed-spaces-and-tabs": "off",
        "no-multiple-empty-lines": "off",
        "space-before-blocks": "off",
        "space-before-function-paren": "off",
        "spaced-comment": "off",
        "padded-blocks": "off",
        "keyword-spacing": "off",
        "space-in-parens": "off",
        "no-unused-vars": "warn",
        "eol-last": "warn",
        "one-var": "off",
        "block-spacing": "off",
        "no-multi-spaces": "off",
        "no-useless-call": "warn",
        "space-unary-ops": "off",
        "space-infix-ops": "off",
        "operator-linebreak": "off",
        "no-unexpected-multiline": "warn",
        "quotes": "off",
        "brace-style": "off",
        "camelcase": "off",
        "comma-spacing": "off",
        "no-duplicate-imports": "off",

        "jsx-quotes": "off",

        "standard/object-curly-even-spacing": "off",

        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-curly-spacing": "off",
        "react/prop-types": "warn",
        "react/self-closing-comp": "warn"
    }
}