/*   Buttons
    --------------------------------------------------------------------------  */

%button, .button {
    display: inline-block;
    padding: 0.75em 2.25em;
    background-color: transparent;
    font-family: family(base);
    font-size: 0.875rem;
    text-decoration: none;
    transition: all 100ms ease-out;
    background: #000;
    color: #fff;
    margin: 0.5em 0;

    @include respond-to(small) {
        padding: 1em 2.5em;
    }

    &:focus {
        outline: 0;
    }

    &:hover {
        background: $orange;
    }
}
