/*   Gravity Forms
    --------------------------------------------------------------------------  */
// scss-lint:disable SelectorFormat

.gform_wrapper {
    border: 1px solid color(input-border);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin-top: 0;
        list-style: none;
        &.half {
            width: 50%;
            display: inline-block;
            &.last {
                margin-right: 0;

                .ginput_container {
                    margin-right: 0px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    clear: both;
                }
            }

            .ginput_container {
                margin-right: 10px;
            }
        }
    }

    label {
        display: block;
        font-weight: fw(normal);
        padding: 0 0 .75em 0;

        .gfield_optional {
            font-weight: fw(light);
        }
    }

    select,
    textarea,
    input {
        &:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
            border: 1px solid color(input-border);
            display: block;
            font-family: family(base);
            font-size: 1em;
            padding: 0.75em;
            width: 100%;
            transition: all 0.3s ease-out;

            &:focus {
                border-color: #9ecaed;
                box-shadow: 0 0 5px #9ecaed;
                outline: none;
            }
        }
    }

    select {
        // removes the select toggle from IE
        &::-ms-expand {
            display: none;
        }
    }
}

.gform_heading {
    padding: 2em;
    background: #4d4d4d;
    color: #fff;
    text-align: center;
}

.gform_body {
    padding: 2em 3em;
}

.gform_footer {
    padding: 0 1em 1em 1em;

    @include respond-to(small) {
        padding: 0 3em 2em 3em;
    }

    button {
        width: 100%;
    }
}

.gfield {
    margin-bottom: 1em;
}

.ginput_complex {
    @include clearfix;

    .ginput_left,
    .ginput_right,
    .ginput_full,
    .name_first,
    .name_last {
        display: block;
        margin-bottom: 1em;
    }

    .ginput_left label,
    .ginput_right label,
    .ginput_full label,
    .name_first label,
    .name_last label {
        display: block;
        font-size: 0.875em;
        font-weight: fw(normal);
    }

    .ginput_left,
    .ginput_right,
    .name_first,
    .name_last {

        @include respond-to(small) {
            width: 48%;
        }
    }

    .ginput_left,
    .name_first {
        @include respond-to(small) {
            float: left;
        }
    }

    .ginput_right,
    .name_last {
        @include respond-to(small) {
            float: right;
        }
    }

}

.gfield_checkbox,
.gfield_radio {

    li input[type=checkbox],
    li input[type=radio] {
        display: none;
    }

    li input[type=text] {
        width: 50% !important;
        margin-left: -1.5em;
    }

    input,
    label {
        display: inline-block;
        vertical-align: middle;
    }

    label {
        padding-bottom: 0;
    }
}

.gfield_checkbox {

    li {
        margin-bottom: 0.8em;
    }

    li input[type=checkbox] + label {
        position: relative;
        cursor: pointer;
        padding-left: 30px;
        margin-left: 0;
        font-style: normal;

        .gform-custom-checkbox-input {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid color(input-border);
        }
    }

    li input[type=checkbox]:checked + label {

        .gform-custom-checkbox-input {
            background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011.2%209%22%3E%3Cpath%20fill%3D%22%234D4D4D%22%20d%3D%22M4%209L0%205l1.8-1.7L4%205.5%209.4%200l1.8%201.8z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center / 70% 70%;
        }
    }
}

.gfield_radio {

    li {
        margin-bottom: 0.8em;
    }

    li input[type=radio] + label {
        position: relative;
        cursor: pointer;
        padding-left: 30px;
        margin-left: 0;
        font-style: normal;

        .gform-custom-radio-input {
            position: absolute;
            top: 3px;
            left: 0;
            width: 20px;
            height: 20px;
            content: '';
            border: 1px solid color(input-border);
            border-radius: 2em;
        }
    }

    li input[type=radio]:checked + label {
        position: relative;

        .gform-custom-radio-input:after {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            content: '';
            border-radius: 1em;
            background: #4d4d4d;
        }
    }
}

.gform_styled_select {
    position: relative;
    overflow: hidden;
    background: #fff;

    select {
        position: relative;
        z-index: 2;
        height: 42px;
        background: transparent;
        color: #a9a9a9;
        font-size: 1em;
        line-height: 1.125;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            outline: 0;
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
        z-index: 1;

        svg {
            width: 16px;
            height: 16px;
            fill: #4d4d4d;
        }
    }
}

.gform_fileupload_multifile .gform_drop_area {
    border: 2px dashed color(fileupload-border);
    color: color(fileupload-color);
    margin-bottom: 10px;
    padding: 25px;
    text-align: center;
}

.gfield_description {
    font-size: 0.75em;
}

.validation_message {
    color: color(validation-color);
    font-size: 0.75em;
    font-weight: fw(bold);
}

.validation_error {
    border-left: 5px solid color(validation-color);
    color: color(validation-color);
    font-size: 0.875em;
    font-weight: fw(bold);
    line-height: 1.5;
    margin: 1.5em 0;
    padding: 1.5em;

    @include respond-to(small) {
        font-size: 1em;
    }
}

.gform_ajax_spinner {
    margin-left: 1em;
}

.gform_validation_container {
    display: none;
}

.gf_clear {
    clear: both;
}
